@import '../../../../../../shared/variables';

.global-statistic {
    width: 48.8%;
    background-color: $gray-800;
    border: 1px solid $gray-700;
    height: 300px;
    display: flex;
    flex-direction: column;

    &__title {
        font-size: .8rem;
    }

    &__value {
        font-size: 1.5rem;
        font-weight: 700;
    }

    &__region {
        font-size: 1rem;
    }

    .toggles-wrapper {
        margin-top: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}