@import "../../../shared/variables";

.countries {
  display: flex;
  flex-direction: column;
  margin: 0 0 5px;
  max-height: calc(100vh - 480px);

  border: 1px solid $gray-700;
  background-color: $gray-800;
  border-radius: 5px;


  &__title {
    font-size: 20px;
    margin: 10px 0 5px;
  }

  &__value {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .countries__list {
    margin: 10px 0 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style: none;
    padding-left: 0;

    .countries__item {
      line-height: 1.5;
      border-bottom: 1px solid $gray-500;

      .item__value {
        margin-right: 5px;
      }

      .item__name {
        display: block;
      }
    }
  }

  .toggles-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
