@import "../../../shared/variables";

* {
  box-sizing: border-box;
}
.countries {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 5px;
  max-height: calc(100vh - 383px);

  border: 1px solid $gray-700;
  background-color: $gray-800;
  border-radius: 5px;

  &__title {
    font-size: 20px;
    margin: 10px 0 7px 0;
  }

  &__value {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .countries__list {
    margin: 10px 0 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style: none;
    padding-left: 0;

    .countries__item {
      position: relative;
      line-height: 1.5;
      border-bottom: 1px solid $gray-500;
      text-align: left;
      padding-left: 10px;

      .item__value {
        margin-right: 5px;
        color: $red;
      }

      .item__flag {
        position: absolute;
        right: 15px;
      }
    }
  }

  .toggles-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.full-screen.countries {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  max-height: 100vh;
  z-index: 1000;
}
