@import "../../../shared/variables.scss";

.status-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    // &:nth-child(2) {
    //     margin-bottom: 20px;
    // }
    // &:nth-child(1) {
    //     margin-top: 20px;
    // }

    button {
        background: none;
        border: none;
        color: $gray-600;
        font-size: .9rem;
        line-height: 1.5;
        transition: .4s;
        outline: none;

        &:hover,
        &:focus {
            color: $gray-400;
        }
    }

    .active {
        color: $gray-300;
    }

    .chosen {
        text-decoration: underline;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 6px;
    margin-left: 2px;
    margin-right: 2px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d9d9d9;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid white;
    &:hover {
        background-color: #a3a3a3;
    }
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: -2px;
    top: -8px;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider:before {
    background-color: #68dc75;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(18px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}