* {
  box-sizing: border-box;
}

.main {
    width: 100%;
    // max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.map {
  width: 80%;
}

.tables {
  width: 20%;
  height: calc(100vh - 100px);
}

// @media(max-width: 1000px) {
//     .main {
//         flex-wrap: wrap;
//     }
// }