@import '../../../shared/variables';

.global-stats {
  position: relative;
  margin: 5px 0;

  .global-stats__data,
  .update-info {
    background-color: $gray-800;
    border-radius: 5px;
    border: 1px solid #52575c;
  }
  .global-stats__data {
    margin: 0 0 5px;
  }

  .global-cases {
    font-size: 1.5rem;
    font-weight: 500;
    color: $red;
  }

  .global-deaths {
    span {
      font-size: 1.1rem;
      color: $red;
    }
  }

  .global-recovered {
    span {
      font-size: 1.1rem;
      color: $green;
    }
  }

  .update-info {
    margin-top: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title,
    &__date {
      margin: 0;
      line-height: 1.5rem;
    }
  }

  &__toggles {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.full-screen.global-stats {
  position: fixed;
  left: 0;
  top: -5px;
  width: 100%;
  height: calc(100vh - 90px);
  z-index: 1000;

  .global-stats__data {
    width: 100%;
    margin: 0;
    // height: 100vh;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .global-stats__title {
    font-size: 2rem;
  }

  .global-cases {
    font-size: 2rem;
  }

  .global-deaths {
    span {
      font-size: 1.4rem;
    }
  }

  .global-recovered {
    span {
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 768px) {
  .global-stats {
    margin-top: 0;

    &__title {
      font-size: 1rem;
      margin-top: 25px;
    }
  }

  .full-screen.global-stats {
    height: 100vh;

    .global-stats__data {
      height: 100vh;
    }
  }
}
