@import '../../../shared/variables'; 

.cases {
    width: 230px;
    margin: 5px 0;
    // border: 5px dashed red;

    .global-cases {
        background-color: $gray-800;
        border-radius: 5px;
        // border: 1px solid $red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 90px;

        &__title {
            margin: 0 0 5px 0;
            font-size: 1rem;
            font-weight: 400;
        }

        &__value {
            color: $red;
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    .region {
        background-color: $gray-800;
        border: 1px solid $gray-700;
        margin-top: 5px;
        padding: 5px 10px;
        height: 455px;
        overflow: hidden;

        &__title {
            font-size: 1rem;
            line-height: 1.2;
            font-weight: 400;
            margin: 0;
        }

        .region-list {
            list-style: none;
            padding: 0;
            line-height: 2;

            &__item {
                border-bottom: 1px solid $gray-500;
                
                .cases-value {
                    color: $red;
                    margin-right: 5px;
                }
            }
        }
    }
}