@import '../../../shared/variables';

.statistic {
    width: 30%;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    min-height: 550px;
    // border: 5px solid red;
}