@import '../../../shared/variables';

.tests-statistic {
    width: 48.8%;
    background-color: $gray-800;
    border: 1px solid $gray-700;
    height: 300px;
    display: flex;
    flex-direction: column;

    &__title {
        font-size: .8rem;
    }

    &__value {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .tests-list {
        overflow: hidden;
        list-style: none;
        padding-left: 0;

        &__item {
            line-height: 1.5;
            border-bottom: 1px solid $gray-500;

            .tests-value {
                margin-right: 5px;
            }

            .country-name {
                display: block;
            }
        }
    }

    .toggles-wrapper {
        margin-top: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}