@import "../../shared/variables";

.footer {
  color: greenyellow;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray-800;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  margin-top: auto;
  padding: 5px 0;

  .footer__title {
    color: $gray-300;
  }

  .footer-cols {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    margin: 0 auto;

    .footer__title {
      margin: 15px 0 5px;
    }

    .copyright {
      display: flex;
      margin: auto 0;

      .footer__title {
        color: greenyellow;
      }
    }

    .students-list {
      display: flex;

      margin: 0 auto;
      padding: 0;
      list-style: none;

      .students__item {
        margin: 0 30px;
      }

      &__link {
        color: $gray-300;
        text-decoration: none;

        &:hover {
          color: $gray-100;
          text-decoration: underline;
        }
      }
    }
  }

  .icon--github {
    width: 25px;
    height: 25px;
    margin: auto;
    background: url("../../assets/img/github-logo.svg") no-repeat;
    background-size: 25px;
    background-position: center top;
  }

  .mentor {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__link {
      color: $gray-300;
      text-decoration: none;

      span {
        font-size: 0.6rem;
      }

      &:hover {
        color: $gray-100;
        text-decoration: underline;
      }
    }
  }

  .alma-mater {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 35px;
    margin: auto 0;
    border-radius: 5px;

    align-items: center;
    background-color: $gray-300;

    cursor: pointer;
    transition: all 300ms;

    &:hover {
      background-color: $gray-100;
      transition: all 300ms;
    }
  }
}

@media(max-width: 920px) {
.footer {
  .footer-cols {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    .footer__title {
      font-size: .8rem;
    }

    .copyright {
      width: 25%;

      .footer__title {
        font-size: .8rem;
      }
    }

    .students {      
      .footer__title {
        margin: 5px;
      }
    }

    .students-list {
      .students__item {
        margin: 0 5px;

        .link {
          font-size: .6rem;
        }
      }
    }
  }

  .icon--github {
    width: 15px;
    height: 15px;
    background-size: 15px;
  }

  .mentor {
    .footer__title {
      margin: 0;
      margin-bottom: 10px;
    }
    
    &__link {
      font-size: 0.6rem;
    }
  }

  .alma-mater {
    width: 70px;
    height: 25px;
    margin-right: 10px;
  }
}
}
