@import '../../../../src/shared/variables';

.map {
  // width: 80%;
  // position: relative;
  margin: 5px;
  border: 1px solid $gray-700;
  background-color: $gray-800;
  border-radius: 5px;
}
