@import './shared/variables';
* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: $font-color;
  background-color: $gray-900;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
}


.main {
  height: calc(100vh - 100px);
}

.footer {
  height: 100px;
}